Check setup.md to figure out how to set this project's env variables.

If it isn't clear, feel free to make an issue or reach out via Slack.

SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_APP_TOKEN=xapp-your-app-token
SLACK_SIGNING_SECRET=your-signing-secret

SLACK_CLIENT_ID=your-client-id
SLACK_CLIENT_SECRET=your-client-secret

PUBLIC_BASE_URL=
PORT=3939

HACKCLUB_CLIENT_ID=your-hackclub-client-id
HACKCLUB_CLIENT_SECRET=your-hackclub-client-secret

# Slack user ID that gets DMed to approve/reject /remove-bdaypheus requests
ADMIN_SLACK_USER_ID=your-slack-user-id
